{% extends "layout.html" %}
{% block content %}

<h1 class="display-2 text-center">Menu Admin.</h1><br>

<table class="text-center" style="margin-left: auto; margin-right: auto;" >
    <tr>
        <td><a href="displaydata" class="btn btn-warning btn-lg btn-block" role="button" style="font-size: xx-large;">Ver Todo</a><br></td>
    </tr>
    <tr>
        <td><a href="/" class="btn btn-warning btn-lg btn-block" role="button" style="font-size: xx-large;">Cerrar Sesión</a><br></td>
    </tr>
    <tr>
        <td><a href="registro" class="btn btn-warning btn-lg btn-block" role="button" style="font-size: x-large;">Nuevo admin</a></td>
    </tr>
</table>




{% endblock %}